.chat {
  @include set-box(100%)
}

.chat_screen {
  background: $bg-grad;
  height: calc(100% - 140px);
  overflow: auto;

  .chat_header {
    padding:0 10px;
    align-items: center;
    background: rgba(158,205,243,1);
    box-shadow: none;

    .preview_title {
      font-size: 1rem;
      margin:0.3rem 0 0.1rem;
    }
    .chat_num {
      font-size: 0.8rem;
      color:rgba(0,0,0,0.3);
      i {
        margin-right: 0.3rem;
      }
    }
  }

  .bubble_container {
    .bubble_Wrap {
      letter-spacing: -0.25px;

      .bubble_con {
        display: flex;
        gap:8px;

        .bubble {
          max-width: 85%;
          @include set-box(auto,auto,6px);
          padding: 10px;
          background: #fff;
          box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
          margin-top: 8px;
          position: relative;

          //6줄만 보이게 하기
          p { display: -webkit-box;
          word-wrap: break-word;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis; }

          &::before {
            @include set-box(0,0);
            position: absolute;
            content: "";
            top:8px;
            left:-10px;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #fff;
          }
        }
        .bubble_time {
          display: flex;
          align-items: self-end;
          font-size: 0.7rem;
          color:rgba(0,0,0,0.5)
        }
      }
    }

    .bubble_preview.my {
      flex-direction: row-reverse;
      
      .preview_title, .preview_pic {
        display: none;
      }

      .bubble_con {
        flex-direction: row-reverse;

        .bubble {
          background: #d3f069;

          &::before {
            position: absolute;
            content: "";
            top:8px;
            left:auto !important;
            right: -10px;
            border-top: 10px solid #d3f069;
            border-right: 10px solid transparent;
          }
        }
      }
    }
  }

}


.chat_form {
  height: 140px;
  background: #fff;
  padding: 10px;

  .chat_form_msg {
    @include set-box(80px);
    font-family: 'Pretendard-Regular';
    font-size: 0.95rem;
    letter-spacing: -0.25px;
    resize: none;
    border: none;
    outline: none;
  }

  .chat_form_util {
    display: flex;
    justify-content: space-between;

    .chat_form_util_plugIn {
      i {
        margin-right: 8px;
        color:#a7a7ac;
        font-size: 18px;
        line-height: 40px;
        cursor: pointer;
        &:hover {
          color:#111
        }
      }
    }

    .chat_form_btn {
      @include set-box(40px, 65px, 6px);
      border: none;
      outline: none;
      color:$gray1;
      cursor: pointer;

      &:hover {
        background:lighten($gray1, 30%);
        color:$gray3;
      }
    }
  }
}

